@use '@fontsource/mozilla-headline';
@use '@fontsource/mozilla-text';
@use '@fontsource/noto-color-emoji';

nav.rootstyle {
  color: oklch(1 0 0); // white
  border-color: transparent;
  background-color: oklch(0 0 0 / 0.25); // 25% black

  li {
    border-color: oklch(1 0 0); // white
  }
}

@keyframes rootstyle-gradient {
  0% {
    background-position: -30lvw -30lvh;
  }

  30% {
    background-position: calc(100% + 30lvw) calc(100% + 30lvh);
  }

  40% {
    background-position: calc(100% + 30lvw) -30lvh;
  }

  70% {
    background-position: -30lvw calc(100% + 30lvh);
  }

  90% {
    background-position: calc(100% + 30lvh) -30lvh;
  }

  100% {
    background-position: -30lvw -30lvh;
  }
}

main.rootstyle {
  background: radial-gradient(circle, oklch(0.63 0.17 149) 0%, oklch(0.60 0.10 185) 30%, oklch(0.36 0.14 279) 60%, oklch(0 0 0) 100%); // green-600, teal-600, indigo-900, black
  background-position: -30lvw -30lvh;
  background-size: 500lvw 500lvh;
  animation: rootstyle-gradient 240s linear infinite;

  &>div {
    max-width: 75rem;
  }
}

@keyframes hero-svg-logo {
  25% {
    stroke-dashoffset: 0;
    fill: transparent;
    stroke: oklch(1 0 0 / 0.5);
  }

  50% {
    stroke-dashoffset: 0;
    fill: oklch(1 0 0 / 0.25); // 25% white
  }

  100% {
    stroke-dashoffset: -500%;
    fill: oklch(1 0 0); // white
  }
}

#hero-main {
  svg {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: transparent;
    stroke-width: 2rem;
    stroke-dasharray: 500%;
    stroke-dashoffset: 500%;
    animation: hero-svg-logo 2s linear forwards;
  }

  hr {
    animation: width-in 1s ease-in-out forwards, fade-in 1s linear forwards;
    animation-delay: 1500ms;
  }
}

@keyframes fade-in {
  to {
    opacity: 100%;
  }
}

@keyframes fly-in {
  to {
    translate: 0 0;
  }
}

@keyframes width-in {
  to {
    width: 100%;
  }
}